html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    min-width: 1024px;
    color: #fff;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 300;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history .block {
    display: flex;
    align-items: center;
}

.history .block .logo {
    width: 300px;
    height: 120px;
    position: relative;
    margin-left: 130px;
    display: flex;
    float: left;
    justify-content: center;
}

.history .block .logo > img {
    width: 120px;
}

.gb::before {
    width: 80px;
    left: -25px;
    top: 20px;
    background: red;
    height: 80px;
    background: url("../img/running.png") no-repeat center;
    background-size: 75px auto;
    display: block;
    position: absolute;
    content: '';
}

.amnesty::before {
    width: 80px;
    left: -25px;
    top: 20px;
    background: red;
    height: 80px;
    background: url("../img/bag.png") no-repeat center;
    background-size: 75px auto;
    display: block;
    position: absolute;
    content: '';
}

.postmen::before {
    width: 80px;
    left: -25px;
    top: 20px;
    background: red;
    height: 80px;
    background: url("../img/superman.png") no-repeat center;
    background-size: 75px auto;
    display: block;
    position: absolute;
    content: '';
}

.text {
    width: 600px;
    background: #fff;
    color: #000;
    padding: 50px 100px;
}